bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Warehouse/DesignTimeBuild/.dtbcache.v2
/.vs/Warehouse/v17/.futdcache.v2
/.idea/.idea.Warehouse/.idea/.gitignore
/.idea/.idea.Warehouse/.idea/.name
/.vs/Warehouse/v17/.suo
/.vs/Warehouse/FileContentIndex/5f7a8e4b-dd15-42aa-9b0c-dc9cce60973d.vsidx
/.vs/Warehouse/FileContentIndex/31d45fd3-298c-401c-afc4-5707ae8c8b64.vsidx
/.vs/Warehouse/FileContentIndex/330a917f-1239-4745-b5c4-24047026630a.vsidx
/.vs/Warehouse/FileContentIndex/6720799d-6bb0-48b7-b89d-2de4028010f1.vsidx
/.vs/Warehouse/FileContentIndex/e5b820c5-4cbd-405e-bc30-7b21e26d42cd.vsidx
/.idea/.idea.Warehouse/.idea/indexLayout.xml
/.idea/.idea.Warehouse/.idea/vcs.xml
/.vs/ProjectEvaluation/warehouse.metadata.v7.bin
/.vs/ProjectEvaluation/warehouse.projects.v7.bin
/.idea/.idea.WpfApp1/.idea/workspace.xml
